* {
  margin: 0;
  box-sizing: border-box;
}

.awesome {
  display: grid;
  grid-row-gap: 70px;
}

.awesome__header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.awesome__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-weight: 200;
}

.line {
  width: 67px;
  height: 2px;
}

.line_orange {
  margin: 20px auto;
  background-color: #ff8c2d;
}

.awesome__description {
  font-size: 0.875rem;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: grid;
  width: 75%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  text-align: center;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.card__image {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: 2px solid #ffa500;
  border-radius: 50%;
}

.bulb {
  background-image: url("images/bulb.png");
  background-repeat: no-repeat;
  background-position: center;
}

.keyboard {
  background-image: url("images/keyboard.png");
  background-repeat: no-repeat;
  background-position: center;
}

.lightning {
  background-image: url("images/lightning.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}

.awesome__description {
  font-size: 0.875rem;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
